<h1>Woohoo, you didz it!</h1>

<%= image_tag "http://placekitten.com/g/200/300" %>

<p>
  Nice! This application was (mostly) made with a screencast! To download it, go here:

  <%= link_to "Download the screencast", "https://www.dropbox.com/s/jskv3b266r2te3d/scavenger_hunt_sc.mov?dl=0" %>
</p>
